//@import "bourbon"

$default-font: "PantonRegular", sans-serif
$default-font-bold: "PantonBold", sans-serif
$default-font-bold: "PantonSemiBold", sans-serif
$font-montserrat: "MontserratRegular", sans-serif

$accent: rgb(4, 149, 212)

